# while

In [1]:
#while loop in python

In [2]:
a = 1
while a<=10:
    print("a=",a)
    a = a+1

a= 1
a= 2
a= 3
a= 4
a= 5
a= 6
a= 7
a= 8
a= 9
a= 10

In [3]:
vegetables =["Brinjal","Cauliflower","Cabbage","Radish"]

In [4]:
while len(vegetables)>0:
    print(len(vegetables))
    print(vegetables)
    print("Popping:",vegetables.pop())
    print(vegetables)
    print("\n")

4
['Brinjal', 'Cauliflower', 'Cabbage', 'Radish']
Popping: Radish
['Brinjal', 'Cauliflower', 'Cabbage']


3
['Brinjal', 'Cauliflower', 'Cabbage']
Popping: Cabbage
['Brinjal', 'Cauliflower']


2
['Brinjal', 'Cauliflower']
Popping: Cauliflower
['Brinjal']


1
['Brinjal']
Popping: Brinjal
[]

In [5]:
# using for loop  and while loop print the sum of the number in the list

In [6]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [11]:
j=0
for i in list1:
    j=i+j
print(j)

55

In [13]:
i = 0
total = 0
while i<len(list1):
    total += list1[i]
    i +=1
print(total)

55

In [15]:
nums =list(range(1,11))
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
# for a list of number form 1 to 2o, print only the even numbers

In [34]:
list2 =list(range(1,21))
for i in list2:
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [28]:
list2 =list(range(1,21))
for num in list2:
    
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [29]:
weather  = "raining"

In [32]:
price =int(input("Enter the price of samosa"))
if price<=30:
    print("Buy 10 samosa")
elif (price>30 and price <=45):
    print("Buy 7 samosa")
elif (price>45 and price <=50):
    print("Buy 4 samosa")
else:
    print("Don't buy samaso")

Enter the price of samosa44
Buy 7 samosa

In [35]:
list1=list(range(1,21))
for i in list1:
    if(i%2==0):
        print(i)
print("Only the Even Number")

2
4
6
8
10
12
14
16
18
20
Only the Even Number

In [3]:
list3=list(range(1,21))
sum1 = 0
for i in list3:
    if(i%2==0):
        sum1 +=i  
print("Total sum of Even number",sum1)

Total sum of Even number 110

In [53]:
# Find sum of all the even numbers from 1 to 21.

In [ ]:
# Find sum of all the even numbers and all the odd numbers from 1 to 21.

In [4]:
list3=list(range(1,21))
sum1 = 0
for i in list3:
    if(i%2!=0):
        sum1 +=i  
print("Total sum of Odd number",sum1)

Total sum of Odd number 100

In [5]:
list3=list(range(1,21))
sum1 = 0
sum2 = 0
for i in list3:
    if(i%2==0):
        sum1 +=i 
    else:
        sum2 +=i 
print("Total sum of Even number",sum1)
print("Total sum of Odd number",sum2)

Total sum of Even number 110
Total sum of Odd number 100

In [2]:
list4 = list(range(2,50))
total2=0
for i in list4:
    if i%2==0:
        total2 +=i
print(total2)

600